<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="T4Connection" connectionString="Server=sbo-fast2;Database=NAS_SonyESI;UID=sa;PWD=sql;"/>
  </connectionStrings>
  <appSettings>
    <add key="IsDebugMode" value="false"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
