<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BlueBoxSharp.AppConfig" version="1.0.0.0" targetFramework="net40" />
  <package id="BlueBoxSharp.Core" version="1.0.0.0" targetFramework="net40" />
  <package id="BlueBoxSharp.Data" version="1.0.0.0" targetFramework="net40" />
  <package id="BlueBoxSharp.Data.MySql" version="1.0.0.0" targetFramework="net40" />
</packages>